body{
  background-color:rgb(73, 73, 190);
  color:purple;
  margin:0%;
}
.otsikko{
  height:50px;
  background-color:pink;
  text-align:center;
  margin-bottom:10px;
}
.laatikko1{
  height:200px;
  width:500px;
  padding:20px;
  background-color:pink;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;  
}
.laatikko2{
  height:200px;
  width:500px;
  margin-left:auto;
  margin-right:auto;
  padding:20px;
  background-color:pink;
}
#nappula1{
  background-color:black;
  color:white;
  width:100%;
  padding:5px;
  border-radius:4px;
}
.nappi2{
  background-color:black;
  color:white;
  width:100%;
  padding:5px;
  border-radius:4px;
}
.ohjelmat{
  list-style-type: none;
}
