body{
  background-color: aquamarine;
  color: blue;
}
a{
  text-decoration:none;
  color:black;
}
a:hover{
  color:blueviolet;
}
a:active{
  color:white;
}
}
div{
  background-color:purple;
  text-align:center;
}
.otsikko{
  background-color:green;
  color:white;
  text-align:center;
}
.alaotsikko{
  background-color:yellow;
  color:black;
  text-align:center;
}
#etusivunnappula{
  width:30%;
  text-align:center;
  background-color:red;
  color:white;
  margin:auto;
}
.seuraavasivu{
  width:25%;
  text-align:center;
  background-color:hotpink;
  color:rgb(73, 50, 205);
  margin:auto;
}
